<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= page_summary(assigns) %>">
    <meta name="author" content="">
    <meta name="og:site_name" content="ElixirChina">
    <meta name="og:title" content="<%= assigns[:page_title] %>">
    <meta name="og:description" content="<%= assigns[:page_summary] %>">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@elixirchina" />
    <meta name="twitter:title" content="<%= assigns[:page_title] %>" />
    <meta name="twitter:description" content="<%= page_summary(assigns) %>" />

    <title><%= page_title(assigns) %></title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="//cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/marked.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript" src="/js/inline-attachment.min.js"></script>
    <script type="text/javascript" src="/js/codemirror-4.inline-attachment.min.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <%= render ElixirChina.SharedView, "_google_analytics.html", [] %>
  </head>

  <body>
    <%= render ElixirChina.SharedView, "_nav.html", conn: @conn, user_id: @user_id %>
    <div class="container">
      <div class="col-md-9" role="main">
        <%= render @view_module, @view_template, assigns %>
      </div>
      <sidebar class="col-md-3" role="sidebar">
        <%= if @user_id == nil do %>
          <%= render ElixirChina.SharedView, "_social_login.html", conn: @conn %>
        <% end %>
        <%= if show_statics?(@conn) do %>
          <%= render ElixirChina.SharedView, "_leading_board.html", conn: @conn, leading_users: @leading_users %>
          <%= render ElixirChina.SharedView, "_statics.html", post_count: @post_count, comment_count: @comment_count, user_count: @user_count %>
        <% end %>
        <%= render ElixirChina.SharedView, "_contrib.html", [] %>
        <%= render ElixirChina.SharedView, "_friend_community.html", conn: @conn %>
      </sidebar>

    </div>

    <div id="footer">
      <div class="container">
        <div class="text-muted">
          Made with &#9825; by Elixir makers.
        </div>
      </div>
    </div>
  </body>
</html>
