<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ElixirChina</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/editor.css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
    <script type="text/javascript" src="/js/marked.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
  </head>

  <body>
    <%= render "nav/nav.html", user_id: @user_id %>

    <div id="main">
      <div id='sidebar'>
        <div class='panel'>
          <div class='inner'>
            <p>广告位开放</p>
            <p>请联系 <a href="mailto:elixirchina@gmail.com?Subject=广告位申请" target="_top">elixirchina@gmail.com</a></p>
          </div>
        </div>
      </div>

      <%= @inner %>
    </div>

    <div id="footer">
      <div id="footer_main">
        <div class="col_fade">ElixirChina</div>
      </div>
    </div>
  </body>
</html>