<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ElixirChina</title>
    <link rel="stylesheet" href="/css/app.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>

  <body>
    <main role="main" class="container">
      <%= render "nav/nav.html" %>

      <div class="row">
        <%= @inner %>
      </div>

      <footer class="footer">
        <p>
          ElixirChina
        </p>
      </fotter>
    </main>
  </body>
</html>