<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ElixirChina</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/editor.css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
    <script type="text/javascript" src="/js/marked.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
  </head>

  <body>
    <%= render "nav/nav.html", user_id: @user_id %>

    <div id="main">
      <div id='sidebar'>
        <div class='panel'>
          <div class='inner'>
            <p>广告位开放</p>
            <p>请联系 <a href="mailto:elixirchina@gmail.com?Subject=广告位申请" target="_top">elixirchina@gmail.com</a></p>
          </div>
        </div>

        <%= if @user_id != nil and @show_post != nil do %>
          <div class="panel">
            <div class="inner">
              <a href="<%= ElixirChina.Router.post_path(:new)%>" id="create_topic_btn">
                <span class="span-success">发布话题</span>
              </a>
            </div>
          </div>
        <% end %>

        <%= if @leading_users != nil do %>
          <div class="panel">
            <div class="header">
              <span class="col_fade">积分榜</span>
            </div>
            <div class="inner">
              <ol>
                <%= for user <- @leading_users do %>
                  <li>
                    <span class="top_score"><%= user.score %></span>
                    <span class="user_name">
                      <a href="<%= ElixirChina.Router.user_path(:show, user.id) %>">
                        <%= user.name %>
                      </a>
                    </span>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
        <% end %>

        <%= if @post_count != nil and @comment_count != nil and @user_count != nil do %>
          <div class="panel">
            <div class="header">
              <span class="col_fade">社区状态</span>
            </div>
            <div class="inner">
              <ol>
                <li>会员 <%= @user_count %></li>
                <li>主题 <%= @post_count %></li>
                <li>回复 <%= @comment_count %></li>
              </ol>
            </div>
          </div>
        <% end %>
      </div>

      <%= @inner %>
    </div>

    <div id="footer">
      <div id="footer_main">
        <div class="col_fade">ElixirChina</div>
      </div>
    </div>
  </body>
</html>