use Mix.Config

config :qiniu, Qiniu,
  access_key: "key",
  secret_key: "secret",
  bucket: "yourbucket"

config :oauthex, :github,
  state: "elixir_china",
  client_id: "client_id",
  client_secret: "client_secret"
