<div class="panel panel-default">
  <div class="panel-heading">
    贡献代码
  </div>
  <div class="panel-body">
    <a href="https://github.com/elixir-cn/elixir-china" target="_blank">请点击这里</a>
  </div>
</div>
