<div class="panel panel-default">
  <div class="panel-heading">
    贡献代码
  </div>
  <div class="panel-body">
    <a href="https://github.com/jw2013/elixir-china" target="_top">请点击这里</a>
  </div>
</div>
