<div class="panel panel-default">
  <div class="panel-heading">
    友情社区
  </div>
  <div class="panel-body">
  	<a href="http://golangtc.com/ target="_blank">
	  <img src="http://gopher.qiniudn.com/static/img/golang-china.png" class="community-brand">
    </a>
  </div>
</div>
