<%= if @post_count != nil and @comment_count != nil and @user_count != nil do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      社区状态
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li>会员 <%= @user_count %></li>
        <li>主题 <%= @post_count %></li>
        <li>回复 <%= @comment_count %></li>
      </ul>
    </div>
  </div>
<% end %>
